@model Aplicacion.Models.Employee
@{
    ViewBag.Title = ".::Destalles Empleados - Aplicación::.";
    ViewBag.menu = "#menu_empleados";
}
<h2>Detalles</h2>
<div class="well row">
    <strong>@Html.DisplayNameFor(model => model.nombre)</strong>
    @Html.DisplayFor(model => model.nombre)
    <br />
    <strong>@Html.DisplayNameFor(model => model.apellido)</strong>
    @Html.DisplayFor(model => model.apellido)
    <br />
    <strong>@Html.DisplayNameFor(model => model.direccion)</strong>
    @Html.DisplayFor(model => model.direccion)
    <br />
    <strong>@Html.DisplayNameFor(model => model.telefono)</strong>
    @Html.DisplayFor(model => model.telefono)
    <br />
    <strong>@Html.DisplayNameFor(model => model.estado)</strong>
    @Html.DisplayFor(model => model.estado)
    <br />
    <strong>@Html.DisplayNameFor(model => model.f_ingreso)</strong>
    @Html.DisplayFor(model => model.f_ingreso)
    <br />
    <strong>@Html.DisplayNameFor(model => model.Office.nombre)</strong>
    @Html.DisplayFor(model => model.Office.nombre)
</div>

<p>
    <a href="@Url.Action("Edit", "employee", new { id = Model.EmployeeID })" class="btn btn-primary"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
    <a href="@Url.Action("Index", "employee")" class="btn btn-default"><i class="fa fa-undo"></i>&nbsp;Regresar</a>
</p>
